/* styles.css */
html {
  background-color: lightblue;
}

body {
  font-family: "Helvetica Neue", sans-serif;
  font-weight: 300;
  text-align: center;
}

h1 {
  font-weight: 400
}

main {
  text-align: center;
  margin: 0 auto;
  width: 500px;
  padding-left: 10px;
  padding: 0px 0px 20px 20px;
  border-style: solid;
  border-width: 5px;
}

form input[type="text"] {
  width: 50px;
  margin: 5px;
}

form button {
  margin: 5px;
}