:root {
  font-family: system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  color-scheme: light dark;
  color: rgba(255, 255, 255, 0.87);
  background-color: rgb(40, 48, 51);

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

body {
  margin: 0;
  display: flex;
  place-items: center;
  min-width: 320px;
  min-height: 100vh;
}

h1 {
  font-size: 3.2em;
  line-height: 1.1;
}

#container {
  height: 120vmin;
  width: 90vmin;
  border: solid gray 5px;
  background-color: rgb(33, 32, 32);
  display: flex;
  flex-wrap: wrap;
  gap:3vmin;
  margin: 15px;
  padding: 20px;
  border-radius: 3vmin;
}

.card {
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 40vmin;
  width: 15vmin;
  border: 1vmin solid rgb(126, 121, 135);
  max-height: fit-content;
  border-radius: 3vmin;
}

button {
  border-radius: 8px;
  border: 1px solid transparent;
  padding: 0.6em 1.2em;
  font-size: 1em;
  font-weight: 500;
  font-family: inherit;
  background-color: black;
  cursor: pointer;
  transition: border-color 0.25s;
  margin: 10px;
}
button:hover {
  border-color: #646cff;
}
button:focus,
button:focus-visible {
  outline: 4px auto -webkit-focus-ring-color;
}